**/europarl-data/cleaned-files/*
!**/europarl-data/cleaned-files/.gitkeep

**/europarl-data/combined-files/*
!**/europarl-data/combined-files/.gitkeep

**/europarl-data/split-files/*
!**/europarl-data/split-files/.gitkeep

**/europarl-data/tokenized-files/*
!**/europarl-data/tokenized-files/.gitkeep

**/europarl-data/txt/*
!**/europarl-data/txt/.gitkeep

**/data_prep/temp_embeddings/*
!**/data_prep/temp_embeddings/.gitkeep

**/europarl-data/aligned-files/embeddings/*
!**/europarl-data/aligned-files/embeddings/.gitkeep

**/europarl-data/aligned-files/sentences/*
!**/europarl-data/aligned-files/sentences/.gitkeep

**/europarl-data/embedding-files/*
!**/europarl-data/embedding-files/.gitkeep