**/europarl-data/cleaned-files/*
!**/europarl-data/cleaned-files/.gitkeep

**/europarl-data/combined-files/*
!**/europarl-data/combined-files/.gitkeep

**/europarl-data/csv-files/*
!**/europarl-data/csv-files/.gitkeep

**/europarl-data/split-files/*
!**/europarl-data/split-files/.gitkeep

**/europarl-data/tokenized-files/*
!**/europarl-data/tokenized-files/.gitkeep

**/europarl-data/embeddings/*
!**/europarl-data/embeddings/.gitkeep

**/europarl-data/txt/*
!**/europarl-data/txt/.gitkeep

**/data_prep/temp_embeddings/*
!**/data_prep/temp_embeddings/.gitkeep